Xft.dpi:        144

Xcursor.theme:  Breeze_Snow
Xcursor.size:   36

#include ".Xresources.d/tokyonight.xrdb"

dwm.normfgcolor:        cwhite1
dwm.normbgcolor:        cblack
dwm.normbordercolor:    cgray3
dwm.normfloatcolor:     cgray3

dwm.selfgcolor:         cwhite2
dwm.selbgcolor:         cblack
dwm.selbordercolor:     cblue
dwm.selfloatcolor:      cgreen

dwm.ltsymbolfgcolor:    cyellow
dwm.ltsymbolbgcolor:    cblack

dwm.stbuttonfgcolor:	cgreen
dwm.stbuttonbgcolor:	#aa0000
